<div class="container">
    <form (ngSubmit)=submit()>
       
        <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control"
         name="name" [(ngModel)]="estates.name"
         #name="ngModel" required>
         <div [hidden]="name.valid" class="alert alert-danger">
             Name required
         </div>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price"
        [(ngModel)]="estates.price" #price="ngModel" required>
        <div [hidden]="price.valid" class="alert alert-danger">
            Price required
        </div>
    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" name="location"
        [(ngModel)]="estates.location" #location="ngModel" required>
        <div [hidden]="location.valid" class="alert alert-danger">
            location required
        </div>
    </div>
    <div class="form-group">
        <label>squareYards</label>
        <input type="text" class="form-control" name="squareYards"
        [(ngModel)]="estates.squareYards" #squareYards="ngModel" required>
        <div [hidden]="squareYards.valid" class="alert alert-danger">
            squareYards required
        </div>
    </div>
    <div class="form-group" align="center">
       <button type="sumbit" [disabled]="!(name.valid && price.valid && location.valid && squareYards.valid)" class="btn btn-primary">{{toDo}}</button>
       &nbsp;&nbsp;
       <button type="button" class="btn btn-primary"
       (click)="cancel()" >Cancel</button>
    </div>
    </form>
</div>
