#div{
    font-style:normal;
    font-weight: bold;
   color: black;
}
#div1{
    margin: 5px;
   margin-left: 70px;
   border:solid;
   border-radius: 30px;
}
#div1:hover{
    background-color:lightgray;
    font-size: 20px;
}